/*
O arquivo styles.css contém estilos globais e específicos de componentes.
Os estilos globais definem o alinhamento de cabeçalhos (h1) e os estilos específicos de componentes estilizam os cartões de foto na lista, os controles de paginação e ordenação, etc*/

h1 {
  text-align: center;
}

/* styles.css */

.photo-list-container {
  padding: 20px;
}

.photo-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.photo-card:hover {
  transform: scale(1.05);
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pagination, .sort {
  display: flex;
  align-items: center;
}

.sort, .pagination > * {
  margin-left: 20px;
}
