/*Estilos globais dos componentes*/

h1 {
  text-align: center;
}

/* styles.css */

.photo-list-container {
  padding: 20px;
}

.photo-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.photo-card:hover {
  transform: scale(1.05);
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pagination, .sort {
  display: flex;
  align-items: center;
}

.sort, .pagination > * {
  margin-left: 20px;
}
